body
 { height: 100px;
 	widht: 100px}
 body
 {background-color: #08466D; 
 	font-family: arial;}
 h1
 {color: blue;
 	text-align: center;
 	background-color: #556874;}
 p
 {background-color: #ACB7BE;}
 img
 {height: 100%;
  width: 30%}
 